<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I am a qualified accountant (ACCA) with a passion for delivering value-add insights through data. I have
          over 10 years experiencing in the banking sector and possess a strong track record of process improvement. </p>
      </div>
      <div class="col-lg-4">
        <p>Please feel free to look around my portfolio and check out what I have been up to. I am always keen to
        explore new and exciting devlopments in the field of data science!</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
